body {
  text-align: center; 
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  color: peru;
  background-image: url("images/kitchen.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

h1 {
  font-family: Snell Roundhand, cursive;
  font-weight: 10;
  font-size: 4em;
  margin: 0px;
  padding: 0px;
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

h2 {
  opacity: 0%;
  animation-name: fade-in;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  font-style: italic;
  font-weight: 10;
  margin: 0px;
  padding: 0px;
}

#ingredient-form {
  opacity: 0%;
  animation-name: fade-in;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-bottom: 2px;
}

input {
  font-family: monospace;
  font-size: medium;
  background: none; 
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: peru;
}

::placeholder {
  color: burlywood;
}

button {
  font-family: monospace;
  font-size: medium;
  color: peru;
  background: none;
  outline: none;
  border-radius: 10px;
  border-color: peru;
}

button:hover, a:hover {
  background: burlywood;
}

button:active, a:active {
  background: goldenrod;
}

#ingredient-list {
  opacity: 0%;
  animation-name: fade-in;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-bottom: 2px;
  list-style-type: none;
  font-family: monospace;
  font-size: medium;
  margin: 0 auto;
  max-width: 45%;
  text-align: left;
  overflow: scroll;
  border-style: dotted;
  border-width: 1px;
}

li {
  display: inline-block;
  margin: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-style: hidden;
  border-radius: 10px; 
  background-color: burlywood;
}

#recipe-grid {
  margin: auto;
  max-width: 85%; 
  display: table;
  font-family: monospace;
}

img {
  height: 200px;
  width: 200px;
  opacity: 70%;
  margin-bottom: 3px;
}

a {
  margin: 0px;
  color: peru;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: peru;
}

h3, p {
  margin: 0px;
}
